<div class="chat">
  <div class="chat__container">
    <aside class="chat__sidebar">
      <div class="chat__search">
        <div id="chatSearchInput"></div>
      </div>
      <div class="chat__conversations">
        <div class="chat__conversations__create">
          <button id="createChatBtn"></button>
        </div>
        <div data-slot="chatsList"></div>
      </div>
      <div class="chat__settings">
        <button id="chatProfileBtn"></button>
        <button id="chatSettingsBtn"></button>
        <button id="chatLogoutBtn"></button>
      </div>
    </aside>
    
    <main class="chat__main">
      <div data-slot="chatHeader"></div>
      <div data-slot="activeChat"></div>
      <form id="sendMessageForm" class="chat__input">
        <button class="chat__attach-button">
          <img src="/skripka.svg">
        </button>
        <div id="messageInput"></div>
        <div id="sendMessageButton"></div>
      </form>
    </main>
    <div data-slot="confirmDeleteModal"></div>
    <div data-slot="createChatModal"></div>
    <div data-slot="chatUsersModal"></div>
    <div data-slot="chatAddUserModal"></div>
  </div>
</div>
