<div class="confirm-delete-modal hidden">
  <div class="confirm-delete-modal__body">
    <div class="confirm-delete-modal__body-header">
      <h2>Вы точно хотите удалить чат?</h2>
    </div>
    <div class="confirm-delete-modal__body-content">
      <div id="confirmDeleteYes"></div>
      <div id="confirmDeleteNo"></div>
    </div>
  </div>
</div>
