<div class="change-avatar-modal hidden" id="changeAvatarModal">
  <div class="change-avatar-modal__body">
    <div class="change-avatar-modal__body-header">
        <h2>Изменить аватар</h2>
        <button class="change-avatar-modal__body-header-close" id="closeChangeAvatarModal">&times;</button>
    </div>
    <div class="change-avatar-modal__body-content">
        <form id="changeAvatarForm" name="changeAvatarForm">
            <div id="avatarFileInput"></div>
            <div id="changeAvatarModalSubmit"></div>
        </form>
    </div>
  </div>
</div>
