<div class="register-container">
  <div class="register-card">
    <h1 class="register-card__title">Регистрация</h1>
    <form class="register-card__form" id="registerForm">
      <div class="register-card__form-group">
        <div id="registerFirstName"></div>
      </div>
      <div class="register-card__form-group">
        <div id="registerSecondName"></div>
      </div>
      <div class="register-card__form-group">
        <div id="registerLogin"></div>
      </div>
      <div class="register-card__form-group">
        <div id="registerEmail"></div>
      </div>
      <div class="register-card__form-group">
        <div id="registerPassword"></div>
      </div>
      <div class="register-card__form-group">
        <div id="registerPhone"></div>
      </div>
      <div id="registerButton"></div>
    </form>
    <div class="register-card__footer">
      <div id="registerLink"></div>
    </div>
  </div>
</div>
