<div class="create-chat-modal hidden" id="createChatModal">
  <div class="create-chat-modal__body">
    <div class="create-chat-modal__body-header">
      <h2>Добавить новый чат</h2>
      <button class="create-chat-modal__body-header-close" id="closeCreateChatModal">&times;</button>
    </div>
    <div class="create-chat-modal__body-content">
      <form id="createChatForm" name="createChatForm">
        <div id="chatTitleInput"></div>
        <div id="createChatModalSubmit"></div>
      </form>
    </div>
  </div>
</div>
