<div class="404-container" style="text-align: center; padding: 50px; width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center;" >
  <div class="404-card">
    <h1 class="404-title">404</h1>
    <p class="404-message">Страница не найдена</p>
    <a href="/login" class="404-link">Вернуться на главную</a>
  </div>
</div>