<div class="500-container" style="text-align: center; padding: 50px; width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center;" >
  <div class="500-card">
    <h1 class="500-title">500</h1>
    <p class="500-message">Мы уже фиксим</p>
    <a href="/login" class="500-link">Вернуться на главную</a>
  </div>
</div>