<div class="login-container">
  <div class="login-card">
    <h1 class="login-card__title">Вход</h1>
    <form class="login-card__form" id="loginForm">
      <div class="login-card__form-group">
        <label class="login-card__form-label">Логин</label>
        <input name="username" class="login-card__form-input" type="text" />
      </div>
      <div class="login-card__form-group">
        <label class="login-card__form-label">Пароль</label>
        <input type="password" name="password" class="login-card__form-input" />
      </div>
      <button type="submit" class="login-card__button">Авторизоваться</button>
    </form>
    <div class="login-card__footer">
      <a href="#" class="login-card__no-account-link" id="loginPageNoAccountBtn">Нет аккаунта?</a>
    </div>
  </div>
</div>
