<div class="register-container">
  <div class="register-card">
    <h1 class="register-card__title">Регистрация</h1>
    <form class="register-card__form" id="registerForm">
      <div class="register-card__form-group">
        <label class="register-card__form-label">Имя</label>
        <input type="text" name="first_name" class="register-card__form-input" />
      </div>
      <div class="register-card__form-group">
        <label class="register-card__form-label">Фамилия</label>
        <input type="text" name="second_name" class="register-card__form-input" />
      </div>
      <div class="register-card__form-group">
        <label class="register-card__form-label">Логин</label>
        <input type="text" name="login" class="register-card__form-input" />
      </div>
      <div class="register-card__form-group">
        <label class="register-card__form-label">Email</label>
        <input type="email" name="email" class="register-card__form-input" />
      </div>
      <div class="register-card__form-group">
        <label class="register-card__form-label">Пароль</label>
        <input type="password" name="password" class="register-card__form-input" />
      </div>
      <div class="register-card__form-group">
        <label class="register-card__form-label">Телефон</label>
        <input type="tel" name="phone" class="register-card__form-input" />
      </div>
      <button type="submit" class="register-card__button">Зарегистрироваться</button>
    </form>
    <div class="register-card__footer">
      <a href="#" class="register-card__login-link" id="registrationHasAccountBtn">Уже есть аккаунт?</a>
    </div>
  </div>
</div>
