<div class="change-avatar-modal">
  <div class="change-avatar-modal__body">
    <div class="change-avatar-modal__body-header">
        <h2>Изменить аватар</h2>
        <button class="change-avatar-modal__body-header-close" id="closeChangeAvatarModal">&times;</button>
    </div>
    <div class="change-avatar-modal__body-content">
        <form id="changeAvatarForm" name="changeAvatarForm">
            <input type="file" id="avatarInput" accept="image/*" name="avatar"/>
            <button type="submit" class="change-avatar-modal__body-submit">Сохранить</button>
        </form>
    </div>
  </div>
</div>