<div class="login-container">
  <div class="login-card">
    <h1 class="login-card__title">Вход</h1>
    <form class="login-card__form" id="loginForm">
      <div class="login-card__form-group">
        <div id="loginInput"></div>
      </div>
      <div class="login-card__form-group">
        <div id="passwordInput"></div>
      </div>
      <div id="loginButton"></div>
    </form>
    <div class="login-card__footer">
      <div id="loginLink"></div>
      {{!-- <a href="#" class="login-card__no-account-link" id="loginPageNoAccountBtn">Нет аккаунта?</a> --}}
    </div>
  </div>
</div>
