<div class="navigation-container" style="text-align: center; padding: 50px; width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center;" >
  <div class="navigation-card">
    <h1 class="navigation-title">Навигации</h1>
    <nav class="navigation-links" style="display: flex; flex-direction: column; gap: 10px; margin-top: 10px;" aria-label="Ссылки навигации">
      <ul style="list-style: none; padding: 0; margin: 0;">
        <li>
          <div id="loginLink"></div>
        </li>
        <li>
          <div id="registerLink"></div>
        </li>
        <li>
          <div id="messengerLink"></div>
        </li>
        <li>
          <div id="notFoundLink"></div>
        </li>
        <li>
          <div id="errorLink"></div>
        </li>
      </ul>
    </nav>
  </div>
</div>
